@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <div class="weather_content">
            <div class="row">
                <div class="box-temp-today">
                    <div>
                        <div class="col-md-4 col-md-push-4" style="margin-top:20px">
                            <h1 class="text-white" style="font-size:50px; margin-left: 35px;">12<sup>๐</sup></h1>
                            <h3 style="margin-left: 35px;"><span class="text-info">9<sup>๐</sup></span><span class="text-white">/</span><span class="text-warning">22<sup>๐</sup></span></h3>
                        </div>
                        <div class="col-md-4">
                            <div>
                                <img class="img-responsive" src="~/images/Icon-Temp/Clear.svg" width="100" />
                                <h3 class="text-white pull-right" style="margin-right: 50px;">
                                    <sup>RealFeel </sup>
                                </h3>
                                
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="text-info text-center tempName"><h2 style="margin-top:0px;">Sunny</h2></div>
                </div>
                <div class="box-temp">
                    <div class="col-md-3 bg_back md-5">
                        <div class="box-title">
                            <h3>Thursday</h3>
                        </div>
                        <div class="box-content">
                            <div class="row">
                                <div class="col-md-8 icon-temp">
                                    <img class="img-responsive" src="~/images/Icon-Temp/HeavyRain.svg" />
                                </div>
                                <div class="col-md-4 col-md-offset-2">
                                    <span class="text-warning" id="hightTemp">20<sup>๐</sup></span>
                                    <span class="text-info" id="lowTemp">8<sup>๐</sup></span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-3 bg_back md-5">
                        <div class="box-title">
                            <h3>Friday</h3>
                        </div>
                        <div class="box-content">
                            <div class="row">
                                <div class="col-md-8 icon-temp">
                                    <img class="img-responsive" src="~/images/Icon-Temp/HeavyRain.svg" />
                                </div>
                                <div class="col-md-4 col-md-offset-2">
                                    <span class="text-warning" id="hightTemp">20<sup>๐</sup></span>
                                    <span class="text-info" id="lowTemp">8<sup>๐</sup></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 bg_back md-5">
                        <div class="box-title">
                            <h3>Saturday</h3>
                        </div>
                        <div class="box-content">
                            <div class="row">
                                <div class="col-md-8 icon-temp">
                                    <img class="img-responsive" src="~/images/Icon-Temp/HeavyRain.svg" />
                                </div>
                                <div class="col-md-4 col-md-offset-2">
                                    <span class="text-warning" id="hightTemp">20<sup>๐</sup></span>
                                    <span class="text-info" id="lowTemp">8<sup>๐</sup></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 bg_back md-5">
                        <div class="box-title">
                            <h3>Sunday</h3>
                        </div>
                        <div class="box-content">
                            <div class="row">
                                <div class="col-md-8 icon-temp">
                                    <img class="img-responsive" src="~/images/Icon-Temp/HeavyRain.svg" />
                                </div>
                                <div class="col-md-4 col-md-offset-2">
                                    <span class="text-warning" id="hightTemp">20<sup>๐</sup></span>
                                    <span class="text-info" id="lowTemp">8<sup>๐</sup></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 bg_back md-5">
                        <div class="box-title">
                            <h3>Monday</h3>
                        </div>
                        <div class="box-content">
                            <div class="row">
                                <div class="col-md-8 icon-temp">
                                    <img class="img-responsive" src="~/images/Icon-Temp/HeavyRain.svg" />
                                </div>
                                <div class="col-md-4 col-md-offset-2">
                                    <span class="text-warning" id="hightTemp">20<sup>๐</sup></span>
                                    <span class="text-info" id="lowTemp">8<sup>๐</sup></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>